body{
    background-color: black;
    margin: 0;
    text-align: center;
    
}
canvas{
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}
button{
    cursor: pointer;
    position: absolute;
}